.c-stacks {
    margin-bottom: 20px;
    margin-left: -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 0;
    overflow-y: auto;
}

.c-stacks > .stack {
    margin: 5px;
    padding: 5px;
    border-right: 5px;
    background: #ADB5BD;
    transition: background 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.c-stacks > .stack .c-card {
    margin-right: 5px;
}

.c-stacks > .stack .c-card:last-child {
    margin: 0;
}

.c-stacks > .stack.our-stack {
    background: #ADB5BD;
}

.c-stacks > .stack.is-winner {
    background: #222222;
    color: #fff;
}